<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226688657439-uhf1fc91re27v1lg88vgj3fa0srt0ffb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226688657439-uhf1fc91re27v1lg88vgj3fa0srt0ffb</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ407j8DeBEMPcmC4dwX3Kw81JhBQv9kU</string>
	<key>GCM_SENDER_ID</key>
	<string>226688657439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silverseahog.gotomote</string>
	<key>PROJECT_ID</key>
	<string>gotomote-f9dd3</string>
	<key>STORAGE_BUCKET</key>
	<string>gotomote-f9dd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226688657439:ios:798db860ee2ae75f048d2a</string>
	<key>DATABASE_URL</key>
	<string>https://gotomote-f9dd3.firebaseio.com</string>
</dict>
</plist>